{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | S'enregistrer{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">S'enregistrer</h1>

        {{ form_start(registrationForm,{'attr': {'class': 'form-custom'}}) }}
        <div class="row mt-5 d-flex justify-content-around">
            <div class="col-12 col-lg-4 m-2 ps-0">
                <fieldset class="mb-3">
                    <legend class="text-center mb-3">Mes coordonnées</legend>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.nom) }}"
                               class="form-control"
                               id="{{ registrationForm.nom.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.nom) }}">
                        <label for="{{ registrationForm.nom.vars.id }}">{{ field_label(registrationForm.nom) }}</label>
                        {{ form_errors(registrationForm.nom) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.prenom) }}"
                               class="form-control"
                               id="{{ registrationForm.prenom.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.prenom) }}">
                        <label for="{{ registrationForm.prenom.vars.id }}">{{ field_label(registrationForm.prenom) }}</label>
                        {{ form_errors(registrationForm.prenom) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.telephone) }}"
                               class="form-control"
                               id="{{ registrationForm.telephone.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.telephone) }}">
                        <label for="{{ registrationForm.telephone.vars.id }}">{{ field_label(registrationForm.telephone) }}</label>
                        {{ form_errors(registrationForm.telephone) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.pseudo) }}"
                               class="form-control"
                               id="{{ registrationForm.pseudo.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.pseudo) }}">
                        <label for="{{ registrationForm.pseudo.vars.id }}">{{ field_label(registrationForm.pseudo) }}</label>
                        {{ form_errors(registrationForm.pseudo) }}
                    </div>
                    {{ form_row(registrationForm.site) }}
                </fieldset>
            </div>
            <div class="col-12 col-lg-4 m-2 ps-0">
                <fieldset class="mb-3">
                    <legend class="text-center mb-3">Mes Identifiants de connexion</legend>
                    {{ form_row(registrationForm.photo) }}
                    <div class="form-floating mb-2">
                        <input type="email"
                               name="{{ field_name(registrationForm.email) }}"
                               class="form-control"
                               id="{{ registrationForm.email.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.email) }}">
                        <label for="{{ registrationForm.email.vars.id }}">Email</label>
                        {{ form_errors(registrationForm.email) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="password"
                               name="{{ field_name(registrationForm.plainPassword) }}"
                               class="form-control"
                               id="{{ registrationForm.plainPassword.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.plainPassword) }}">
                        <label for="{{ registrationForm.plainPassword.vars.id }}">{{ field_label(registrationForm.plainPassword) }}</label>
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                    <div class="row mt-4">
                        {{ form_row(registrationForm.RGPD) }}
                    </div>

                </fieldset>
                <div class="row m-2">
                    <button type="submit" class="btn btn-primary">S'enregistrer</button>
                </div>

            </div>
        </div>




        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
