{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
                {{ form_start(passForm) }}
                <div class="mb-3">
                    {{ form_row(passForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
        </div>
    </section>
{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
                {{ form_start(passForm) }}
                <div class="mb-3">
                    {{ form_row(passForm.password, {'attr': {'class': 'form-control'}}) }}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
                {{ form_end(passForm) }}
            </div>
        </div>
    </section>
{% endblock %}