{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Admin Import{% endblock %}

{% block body %}
    <div class="container">

        <h1 class="text-center">Importer un profil</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm,{'attr': {'class': 'form-custom'}}) }}
        <div class="row mt-5 d-flex justify-content-around">
            <div class="col-12 col-lg-4 m-2 ps-0">
                <fieldset class="mb-3">
                    <legend>Ses coordonnées</legend>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.nom) }}"
                               class="form-control"
                               id="{{ registrationForm.nom.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.nom) }}">
                        <label for="{{ registrationForm.nom.vars.id }}">{{ field_label(registrationForm.nom) }}</label>
                        {{ form_errors(registrationForm.nom) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.prenom) }}"
                               class="form-control"
                               id="{{ registrationForm.prenom.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.prenom) }}">
                        <label for="{{ registrationForm.prenom.vars.id }}">{{ field_label(registrationForm.prenom) }}</label>
                        {{ form_errors(registrationForm.prenom) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.telephone) }}"
                               class="form-control"
                               id="{{ registrationForm.telephone.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.telephone) }}">
                        <label for="{{ registrationForm.telephone.vars.id }}">{{ field_label(registrationForm.telephone) }}</label>
                        {{ form_errors(registrationForm.telephone) }}
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text"
                               name="{{ field_name(registrationForm.pseudo) }}"
                               class="form-control"
                               id="{{ registrationForm.pseudo.vars.id }}"
                               placeholder=""
                               value="{{ field_value(registrationForm.pseudo) }}">
                        <label for="{{ registrationForm.pseudo.vars.id }}">{{ field_label(registrationForm.pseudo) }}</label>
                        {{ form_errors(registrationForm.pseudo) }}
                    </div>
                    {{ form_row(registrationForm.site) }}
                </fieldset>
                <fieldset class="mb-3">
                    <legend>Son mail de connexion</legend>
                    {{ form_row(registrationForm.email) }}
                </fieldset>
                <div class="row m-2">
                    <button type="submit" class="btn btn-primary">Enregistrer le profil</button>
                </div>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
