{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Dashboard Admin{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center m-3">Salut à toi, bel administrateur</h1>

        <p class="text-center m-5">Ici tu peux ajouter des utilisateurs et les sorties</p>
        <div class="col-12 d-flex justify-content-around">

            <a href="{{ path('admin_addSingleUser') }}" role="button" class="btn btn-primary">Ajout d'un utilisateur
                manuellement</a>
            <a href="{{ path('admin_addUsersByFile') }}" role="button" class="btn btn-primary">Ajout de multiples
                utilisateurs par fichier CSV</a>
            <a href="{{ path('admin_listeSorties') }}" role="button" class="btn btn-dark">Supprimer une sortie</a>

        </div>
        <p class="text-center m-5">Ici tu peux les désactiver, ou même les foutre à la porte</p>
        <div class="container text-center">
            <div class="row bg-gradient mb-5">
                <div class="col-10">Participant</div>
                <div class="col-1">A/D</div>
                <div class="col-1">Supprimer</div>
            </div>
            {% for participant in participants %}
            <div class="row">
                <div class="col-2">{{ participant.nom }}</div>
                <div class="col-2">{{ participant.prenom }}</div>
                <div class="col-2">{{ participant.pseudo }}</div>
                <div class="col-2">{{ participant.email }}</div>
                <div class="col-2"></div>
                <div class="col-1"><a href="{{ path('admin_toggleActif', {'pseudo' : participant.pseudo}) }}">
                        {% if participant.isActif %}
                            {{ source('@svg_path/toggle-on.svg') }}</a></div>
                        {% else %}
                            {{ source('@svg_path/toggle-off.svg') }}</a></div>
                        {% endif %}
            <div class="col-1">
                <a href="#" data-bs-toggle="modal" data-bs-target="#confirmationModal{{ participant.id }}">
                    {{ source('@svg_path/delete.svg') }}
                </a>
            </div>
        </div>
        <!-- Modale de confirmation spécifique à chaque participant -->
        <div class="modal fade" id="confirmationModal{{ participant.id }}" tabindex="-1" aria-labelledby="confirmationModalLabel{{ participant.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel{{ participant.id }}">Confirmation de Suppression</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr de vouloir supprimer l'utilisateur {{ participant.pseudo }} ?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <!-- Formulaire de suppression spécifique à chaque participant -->
                        <form method="post" action="{{ path('admin_deleteUser', {'pseudo': participant.pseudo}) }}">
                            <button type="submit" class="btn btn-danger">Confirmer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
