{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Sortie {{ sortie.nom }}{% endblock %}

{% block body %}

    {# Initialisation des variables #}
    {% set orgaMatch = false %}
    {% set isInscrit = false %}
    {% set places = sortie.nbInscriptionsMax %}
    {% for inscrit in inscrits %}
        {% set places = places - 1 %}
        {% if app.user.pseudo == sortie.organisateur.pseudo %}
            {% set orgaMatch = true %}
        {% endif %}
        {% if inscrit.participant.pseudo == app.user.pseudo %}
            {% set isInscrit = true %}
        {% endif %}
    {% endfor %}

    {# I. Partie En-tête #}
    <div class="row mt-5 mb-5 d-flex justify-content-between align-items-center">
        <div class="col-auto">
            Organisateur :
            {% if sortie.organisateur %}
                {{ sortie.organisateur.pseudo }}
            {% else %}
                N/A
            {% endif %}
            | Campus de {{ sortie.site.nom }}
        </div>

        {% if places > 10 %}
            <div class="col-auto text-bg-success rounded">Il reste {{ places }} places.</div>
        {% elseif places > 5 %}
            <div class="col-auto text-bg-warning rounded">Il reste {{ places }} places.</div>
        {% else %}
            <div class="col-auto text-bg-danger rounded">Il reste {{ places }} place{% if places > 1 %}s{% endif %}.
            </div>
        {% endif %}
    </div>

    {# II. Descriptif de la sortie #}
    <div class="container">
        {# 1. Sortie et infos générales #}
        <h1 class="text-center mb-3">Sortie : {{ sortie.nom }}</h1>
        <div class="row text-center mb-3">
            {% if sortie.etat.id == 1 or sortie.etat.id == 2 %}
                <h3>Sortie prévue le {{ sortie.dateHeureDebut | date("d/m") }}
                    à {{ sortie.dateHeureDebut | date("h:i") }}</h3>
                <h4 class="text-warning">Clôture des inscriptions
                    le {{ sortie.dateLimiteInscription  | date ("d/m") }}</h4>
            {% elseif sortie.etat.id == 3 %}
                <h3>Sortie prévue le {{ sortie.dateHeureDebut | date("d/m") }}
                    à {{ sortie.dateHeureDebut | date("h:i") }}</h3>
                <h4 class="text-warning">INSCRIPTIONS CLÔTURÉES</h4>
            {% elseif sortie.etat.id == 4 %}
                <h3>C'est en ce moment !!!</h3>
            {% elseif sortie.etat.id == 5 %}
                <h3>Sortie passée</h3>
            {% else %}
                <h2 class="text-danger">SORTIE ANNULÉE</h2>
            {% endif %}
        </div>
        <div class="row h3 mb-3">
            {% if sortie.etat.id == 6 %}
                Pourquoi ?
            {% else %}
                On fait quoi ?
            {% endif %}
        </div>
        <div class="row mb-5">
            {{ sortie.infosSortie }}
        </div>
        {# 2. Participants et Lieu #}
        <div class="row mb-3 d-flex justify-content-around text-center">
            <div class="col h3">
                {% if sortie.etat.id == 5 or sortie.etat.id == 6 %}
                    Y'avait qui de prévu ?
                {% else %}
                    Y'aura qui ?
                {% endif %}
            </div>
            <div class="col h3">
                {% if sortie.etat.id == 5 or sortie.etat.id == 6 %}
                    C'était prévu où ?
                {% else %}
                    C'est où?
                {% endif %}
            </div>
        </div>
        <div class="row mb-3 d-flex justify-content-around text-center">
            {# 2.1 Participants #}
            <div class="col">
                <div class="card text-center mb-3 bg-body card-custom">
                    <div class="card-header sticky-top bg-body-tertiary z-0">
                        <div class="row d-flex align-items-center">
                            <div class="col">Pseudo</div>
                            <div class="col d-none d-sm-block">Nom</div>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-0">
                        {% set nbInscits = 0 %}
                        {% for inscrit in inscrits %}
                            {% set nbInscits = nbInscits +1 %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col">
                                        <a href="{{ path('participants_details', {'pseudo' : inscrit.participant.pseudo}) }}">{{ inscrit.participant.pseudo }}</a>
                                    </div>
                                    <div class="col d-none d-sm-block">
                                        {{ inscrit.participant.prenom }} {{ inscrit.participant.nom | upper }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        <li class="list-group-item mt-2">
                            {% if nbInscits == 0 %}
                                Personne d'inscrit...
                            {% else %}
                                Nombre total d'inscrits : {{ nbInscits }}
                            {% endif %}
                        </li>
                    </div>
                </div>
            </div>
            {# 2.2 Lieu #}
            <div class="col">
                <div class="dropstart">
                    <button type="button"
                            class="btn btn-primary dropdown-toggle"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-auto-close="outside"
                            data-bs-offset="0,20">
                        {{ sortie.lieu.nom }}
                    </button>
                    <div class="dropdown-menu p-3" style="width: 250px">
                        <p> Adresse :</p>
                        <p class="text-center"> {{ sortie.lieu.rue }}</p>
                        <p class="text-center"> {{ sortie.lieu.codePostal }} {{ sortie.lieu.ville }}</p>
                        <hr class="dropdown-divider">
                        <p>Coordonnées :</p>
                        <p class="text-center">Lat : {{ sortie.lieu.latitude }}</p>
                        <p class="text-center">Long : {{ sortie.lieu.longitude }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# III. Boutons #}
    <div class="col text-center mt-5" style="scale: 2;">
        {# Si la sortie est publiée #}
        {% if sortie.etat.id == 2 %}
            {# Si le user en session est l'orga, il est redirigé vers la page modif #}
            {# Le user en session n'est pas l'orga #}
            {% if isInscrit %}
                <a href="{{ path('inscription_remove', {'sortieId':sortie.id}) }}"
                   title="se désister"
                   role="button"
                   class="btn btn-danger">Se désister</a>
            {% else %}
                <a href="{{ path('inscription_add', {'sortieId':sortie.id}) }}"
                   title="s'inscrire"
                   role="button"
                   class="btn btn-success">S'inscrire</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modal.js') }}"></script>
{% endblock %}
