{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie {% endblock %}

{% block body %}
    <h1>{% if is_edit %}Modifier une sortie  {% else %}Créer une Sortie {% endif %}</h1>
    <div class="container">
        {{ form_errors(sortieForm) }}
        {{ form_start(sortieForm) }}
        <div class="row">
            <div class="col-6">
                {% if is_edit %}
                    {{ form_row(sortieForm.site) }}
                {% else %}
                    <p>Campus Organisateur : {{ organisateur.site.nom }}</p>
                {% endif %}

                {{ form_row(sortieForm.lieu) }}
                <p id="lieuVille">Ville : </p>
                <p id="lieuRue">Rue : </p>
                <p id="lieuCodePostal">Code Postal : </p>
                {% if is_edit %}
                    <a href="{{ path('lieu_addToModif', {'sortieId': sortie.id, 'pseudo': app.user.pseudo}) }}" role="button" class="btn btn-primary">
                        Nouveau lieu
                    </a>
                {% else %}
                    <a href="{{ path('lieu_add') }}" role="button" class="btn btn-primary">
                        Nouveau lieu
                    </a>
                {%  endif %}
            </div>
            <div class="col-6">
                {{ form_row(sortieForm.nom) }}
                {{ form_row(sortieForm.dateHeureDebut) }}
                {{ form_row(sortieForm.dateLimiteInscription) }}
                {{ form_row(sortieForm.duree) }}
                {{ form_row(sortieForm.nbInscriptionsMax) }}
                {{ form_row(sortieForm.infosSortie) }}
            </div>
            <div class="row text-center">
                {% if is_edit %}
                    <div class="col-3">
                        {{ form_row(sortieForm.enregistrer) }}
                    </div>
                    <div class="col-3">
                        {{ form_row(sortieForm.publier) }}
                    </div>
                    <div class="col-3">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#confirmationModal{{ sortie.id }} "
                           class="btn btn-primary" role="button">
                            Supprimer
                        </a>
                    </div>

                    <div class="col-3">
                        <a href="{{ path('sortie_main') }}" role="button" class="btn btn-primary">Annuler</a>
                    </div>
                {% else %}
                    <div class="col-4">
                        {{ form_row(sortieForm.enregistrer) }}
                    </div>
                    <div class="col-4">
                        {{ form_row(sortieForm.publier) }}
                    </div>
                    <div class="col-4">
                        <a href="{{ path('sortie_main') }}" role="button" class="btn btn-primary">Annuler</a>
                    </div>
                {% endif %}

                {{ form_end(sortieForm) }}
            </div>
            {% if is_edit %}
                <!-- Modale de confirmation de suppression demandant un motif -->
                {% include '_partials/_modal_suppression.html.twig' %}
            {% endif %}
        </div>

    </div>


{% endblock %}

    {% block javascripts %}
        <script>
            let lieuxData = {{ lieux | raw }};
        </script>
        <script src="{{ asset('js/EventListenerSortieForm.js') }}" defer></script>
    {% endblock %}

