{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | liste des sorties{% endblock %}

{% block body %}

{# I . Partie filtrage et recherche #}
<div>
    {{ form_start(form) }}
    {{ form_row(form.site) }}
    {{ form_row(form.name) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.checkbox1) }}
    {{ form_row(form.checkbox2) }}
    {{ form_row(form.checkbox3) }}
    {{ form_row(form.checkbox4) }}
    <button type="submit">Filter</button>
    {{ form_end(form) }}
</div>

{# II . Partie affichage de la liste #}
<div >
    {# modification du titre en fonction de archive ou pas archive #}
    {% if form.vars.value %}
        {% set data = form.vars.value %}
        {% if data.checkbox4 %}
            <h1>Liste des sorties archivées</h1>
        {% else %}
            <h1>Liste des sorties prévues</h1>
        {% endif %}
    {% else %}
        <h1>Liste des sorties prévues</h1>
    {% endif %}

    {# affichage de la liste des events par site #}
    {% for site in sitesList %}
        {% set exist = 0 %}
        {% for sortie in sortiesList %}
            {% if site.nom == sortie.site.nom %}
                {% set exist = exist +1 %}
            {% endif %}
        {% endfor %}

        {% if exist >= 1 %}
            <table>
                <thead>
                <tr>
                    <th>{{ site.nom }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sortiesList %}
                    {%  if sortie.site.id == site.id
                        and (sortie.dateHeureDebut) >= dateActuelle
                    %}
                        <tr>
                        <td>{{ sortie.nom }} : </td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y - h:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        {% set inscCount = 0 %}
                        {% set myInsc = '' %}
                        {% for inscription in inscriptionsList %}
                            {% if inscription.sortie.id == sortie.id %}
                                {% set inscCount = inscCount + 1 %}
                                {% if inscription.participant.id == app.user.id %}
                                    {% set myInsc = 'X' %}
                                {% endif %}
                            {% endif %}
                        {%  endfor %}
                        <td>{{ inscCount }}/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                            {# comparaison dans al table inscription pour vérifier si l'ID en session correspond à un inscrit à cet event #}
                        <td>{{ myInsc }}</td>
                        <td>{{ sortie.organisateur.pseudo }}</td>
                        <td><a href="{{ path('sortie_detail', {'id':sortie.id}) }}" title="détail de la sortie">Afficher</a></td>
                        {% if sortie.etat.id == 2 and sortie.organisateur.id != app.user.id %}
                            {% if myInsc =="X" %}
                                <td><a href="{{ path('inscription_remove', {'sortieId':sortie.id}) }}" title="se désister" id="cut-link">Me retirer</a></td>
                            {% else %}
                                <td><a href="{{ path('inscription_add', {'sortieId':sortie.id}) }}" title="s'inscrire" id="signup-link">M'inscrire</a></td>
                            {% endif %}
                        {% endif %}
                        {% if sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                            <td><a href="{{ path('sortie_state', {'sortieId':sortie.id, 'state':2})}}" title="publier la sortie" id="publish-link">Publier</a></td>
                            <td><a href="{{ path('sortie_delete', {'sortieId':sortie.id})}}" title="supprimer la sortie" id="delete-link">Supprimer</a></td>
                        {% elseif sortie.etat.id == 2 and sortie.organisateur.id == app.user.id %}
                            <td>Modifier</td>
                            <td><a href="{{ path('sortie_state', {'sortieId':sortie.id, 'state':6})}}" title="annuler la sortie" id="cancel-link">Annuler</a></td>
                        {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
    {% endfor %}
    <br>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        // 1. confirmation d'inscription
        document.getElementById('signup-link').addEventListener('click', function(event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir vous inscrire à cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        %});
        // 2. confirmation de désistement
        document.getElementById('cut-link').addEventListener('click', function(event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir vous retirer de cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 3. confirmation la publication
        document.getElementById('publish-link').addEventListener('click', function(event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir publier cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 4. confirmation l'annulation
        document.getElementById('cancel-link').addEventListener('click', function(event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir annuler cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 5. confirmation la suppression
        document.getElementById('delete-link').addEventListener('click', function(event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir supprimer cette sortie ? Cette action est définitive');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
