{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | liste des sorties{% endblock %}

{% block body %}
    {# 0 . Inscruste de Max #}
    <div class="row m-5 text-center">
        <div class="col-4">
            <a href="{{ path('sortie_creer') }}" role="button" class="conditional-link">Créer une sortie</a>
        </div>
    </div>

{# I . Partie filtrage et recherche #}
<div>
    {{ form_start(form) }}
    {{ form_row(form.site) }}
    {{ form_row(form.name) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.checkbox1) }}
    {{ form_row(form.checkbox2) }}
    {{ form_row(form.checkbox3) }}
    {{ form_row(form.checkbox4) }}
    <button type="submit">Filter</button>
    {{ form_end(form) }}
</div>
{% block body %} {# 0 . Inscruste de Max #}
    <div class="row mt-5 mb-5 d-flex justify-content-center align-items-center">
        <div class="col-2">
            <div class="dropdown-center">
                <button
                        type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        data-bs-auto-close="outside"
                        data-bs-offset="0,20"
                >
                    Filtres
                </button>
                {# I . Partie filtrage et recherche #}
                <div class="dropdown-menu p-3" style="width: 350px">
                    {{ form_start(form) }} {{ form_row(form.site) }} {{ form_row(form.name) }} {{ form_row(form.startDate) }} {{ form_row(form.endDate) }} {{ form_row(form.checkbox1) }} {{ form_row(form.checkbox2) }} {{ form_row(form.checkbox3) }} {{ form_row(form.checkbox4) }}
                    <button class="btn btn-primary" type="submit">Filter</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-10">
            <a href="{{ path('sortie_creer') }}" role="button" class="btn btn-primary"
            >Créer une sortie</a>
        </div>
    </div>

    {# II . Partie affichage de la liste #}
    <div class="container">
        {# modification du titre en fonction de archive ou pas archive #}
        {% if form.vars.value %}
            {% set data = form.vars.value %}
            {% if data.checkbox4 %}
                <h1>Liste des sorties archivées</h1>
            {% else %}
                <h1>Liste des sorties prévues</h1>
            {% endif %}
        {% else %}
            <h1>Liste des sorties prévues</h1>
        {% endif %}
        {# affichage de la liste des events par site #}
        {% for site in sitesList %}
            {% set exist = 0 %}
            {% for sortie in sortiesList %}
                {% if site.nom == sortie.site.nom %}
                    {% set exist = exist +1 %}
                {% endif %}
            {% endfor %}
            {% if exist >= 1 %}
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">
                            {{ site.nom }} : {{ exist }} Sortie{% if exist > 1 %}s{% endif %}
                        </h3>
                        <div class="row bg-dark-subtle d-flex align-items-center mb-4">
                            <div class="col">Date</div>
                            <div class="col">Sortie</div>
                            <div class="col">Fin d'inscription</div>
                            <div class="col">Inscrit ?</div>
                            <div class="col">Participants</div>
                            <div class="col">Etat</div>
                            <div class="col">Organisateur</div>
                            <div class="col"></div>
                        </div>

                        {% for sortie in sortiesList %}
                            {% if sortie.site.id == site.id and (sortie.dateHeureDebut) >= dateActuelle %}
                                {% set inscCount = 0 %}
                                {% set myInsc = 0 %}
                                {% for inscription in inscriptionsList %}
                                    {% if inscription.sortie.id == sortie.id %}
                                        {% set inscCount = inscCount + 1 %}
                                        {% if inscription.participant.id == app.user.id %}
                                            {% set myInsc = 1 %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <div class="row mb-4">
                                    <div class="col">{{ sortie.dateHeureDebut|date("d/m - h:i") }}</div>
                                    <div class="col">
                                        <a href="{{ path('sortie_detail', {'id': sortie.id}) }}">{{ sortie.nom }}</a>
                                        </div>
                                    <div class="col">{{ sortie.dateLimiteInscription|date("d/m") }}</div>
                                    <div class="col">
                                    {% if sortie.etat.id == 2 and sortie.organisateur.id != app.user.id %}
                                        {% if myInsc == 1 %}
                                            <a href="{{ path('inscription_remove', {'sortieId':sortie.id}) }}"
                                               title="se désister"
                                               id="cut-link">{{ source('@svg_path/toggle-on.svg') }}</a>
                                        {% elseif myInsc == 0 %}
                                            <a href="{{ path('inscription_add', {'sortieId':sortie.id}) }}"
                                               title="s'inscrire"
                                               id="signup-link">{{ source('@svg_path/toggle-off.svg') }}</a>
                                        {% endif %}
                                    {% endif %}
                                    </div>
                                    <div class="col">{{ inscCount }} / {{ sortie.nbInscriptionsMax }}</div>
                                    <div class="col">{{ sortie.etat.libelle }}</div>
                                    {% if not sortie.organisateur == null %}
                                    <div class="col">{{ sortie.organisateur.pseudo }}</div>
                                     {% else %}
                                         <div class="col">N/A</div>
                                      {% endif%}
                                    <div class="col">
                                        {% if sortie.etat.id == 1 and sortie.organisateur.id == app.user.id %}
                                            <a href="{{ path('sortie_state', {'sortieId':sortie.id, 'state':2}) }}"
                                               title="publier la sortie"
                                               id="publish-link">Publier</a>
                                            <a href="{{ path('sortie_delete', {'sortieId':sortie.id}) }}"
                                               title="supprimer la sortie"
                                               id="delete-link">{{ source('@svg_path/delete.svg') }}</a>
                                        {% elseif sortie.etat.id == 2 and sortie.organisateur.id == app.user.id %}
                                            <a href="{{ path('sortie_modifier', {'pseudo': app.user.pseudo, 'sortieId':sortie.id}) }}"
                                               title="modifier la sortie"
                                               id="cancel-link">{{ source('@svg_path/settings.svg') }}</a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#confirmationModal{{ sortie.id }} "
                                               role="button"
                                               title="annuler la sortie"
                                               id="cancel-link">
                                                {{ source('@svg_path/delete.svg') }}
                                            </a>
                                            <!-- Modale de confirmation pour la suppression -->
                                            {% include '_partials/_modal_suppression.html.twig' %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/modal.js') }}"></script>;
    <script>
        // 1. confirmation d'inscription
        document.getElementById('signup-link').addEventListener('click', function (event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir vous inscrire à cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 2. confirmation de désistement
        document.getElementById('cut-link').addEventListener('click', function (event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir vous retirer de cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 3. confirmation la publication
        document.getElementById('publish-link').addEventListener('click', function (event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir publier cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 4. confirmation l'annulation
        document.getElementById('cancel-link').addEventListener('click', function (event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir annuler cette sortie ?');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
        // 5. confirmation la suppression
        document.getElementById('delete-link').addEventListener('click', function (event) {
            // Afficher la popup de confirmation
            var userConfirmed = confirm('Êtes-vous sûr de vouloir supprimer cette sortie ? Cette action est définitive');

            // Si l'utilisateur clique sur "Annuler", empêcher le comportement par défaut du lien
            if (!userConfirmed) {
                event.preventDefault();
            }
        });
    </script>
{% endblock %}
