{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | liste des sorties{% endblock %}

{% block body %}

{# I . Partie filtrage et recherche #}
<div>
    {{ form_start(form) }}
    {{ form_row(form.site) }}
    {{ form_row(form.name) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    <div style ="display: none" >
        {{ form_row(form.checkbox1) }}
        {{ form_row(form.checkbox2) }}
        {{ form_row(form.checkbox3) }}
        {{ form_row(form.checkbox4) }}
    </div>
    <button type="submit">Filter</button>
    {{ form_end(form) }}
</div>

{# II . Partie affichage de la liste #}
<div >
    <h1>Liste des sorties prévues</h1>

    {# affichage de la liste des events par site #}
    {% for site in sitesList %}
        {% set exist = 0 %}
        {% for sortie in sortiesList %}
            {% if site.nom == sortie.site.nom %}
                {% set exist = exist +1 %}
            {% endif %}
        {% endfor %}

        {% if exist >= 1 %}
            <table>
                <thead>
                <tr>
                    <th>{{ site.nom }}</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sortiesList %}
                    {%  if sortie.site.id == site.id
                        and (sortie.dateHeureDebut) >= dateActuelle
                    %}
                        <tr>
                        <td>{{ sortie.nom }} : </td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y - h:i") }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.infosSortie }}</td>
                        {% set inscCount = 0 %}
                        {% for inscription in inscriptionsList %}
                            {% if inscription.sortie.id == sortie.id %}
                                {% set inscCount = inscCount + 1 %}
                            {% endif %}
                        {%  endfor %}
                        <td>{{ inscCount }}/{{ sortie.nbInscriptionsMax }}</td>

                            {# comparaison dans al table inscription pour vérifier si l'ID en session correspond à un inscrit à cet event #}

                        <td><a href="{{ path('app_login') }}" title="se connecter/s'inscrire">Afficher</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
    {% endfor %}
    <br>
</div>
{% endblock %}
