{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Profil de {{ participant.pseudo }} {% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row d-flex justify-content-around align-items-center text-center">
        {% if participant.photo %}
            <div class="col-6">
                <img src="{{ asset('uploads/photos/' ~ participant.photo) }}" alt="{{ participant.pseudo }}"
                     class="img-thumbnail" style="max-width: 200px;">
            </div>
        {% endif %}
        <div class="col-6">
            <h1>{{ participant.pseudo }}</h1>
        </div>
    </div>

    {% if app.user and app.user.pseudo == participant.pseudo %}
        <div class="container mt-5">
            <h3 class="text-center">Update de mon profil</h3>
            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'form-custom'}}) }}
            <div class="row mt-3 d-flex flex-wrap justify-content-around">
                <div class="col-12 col-lg-4 m-2 ps-0">
                    <fieldset class="mb-3">
                        <legend class="text-center mb-3">Mes coordonnées</legend>
                        <div class="form-floating mb-2">
                            <input type="text"
                                   name="{{ field_name(form.nom) }}"
                                   class="form-control"
                                   id="{{ form.nom.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.nom) }}">
                            <label for="{{ form.nom.vars.id }}">{{ field_label(form.nom) }}</label>
                            {{ form_errors(form.nom) }}
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text"
                                   name="{{ field_name(form.prenom) }}"
                                   class="form-control"
                                   id="{{ form.prenom.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.prenom) }}">
                            <label for="{{ form.prenom.vars.id }}">{{ field_label(form.prenom) }}</label>
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text"
                                   name="{{ field_name(form.telephone) }}"
                                   class="form-control"
                                   id="{{ form.telephone.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.telephone) }}">
                            <label for="{{ form.telephone.vars.id }}">{{ field_label(form.telephone) }}</label>
                            {{ form_errors(form.telephone) }}
                        </div>
                        <div class="form-floating mb-2">
                            <input type="text"
                                   name="{{ field_name(form.pseudo) }}"
                                   class="form-control"
                                   id="{{ form.pseudo.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.pseudo) }}">
                            <label for="{{ form.pseudo.vars.id }}">{{ field_label(form.pseudo) }}</label>
                            {{ form_errors(form.pseudo) }}
                        </div>
                        {{ form_row(form.site) }}
                    </fieldset>
                </div>
                <div class="col-12 col-lg-4 m-2 ps-0">
                    <fieldset class="mb-3">
                        <legend class="text-center mb-3">Mes Identifiants de connexion</legend>
                        {{ form_row(form.photo) }}
                        <div class="form-floating mb-2">
                            <input type="email"
                                   name="{{ field_name(form.email) }}"
                                   class="form-control"
                                   id="{{ form.email.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.email) }}">
                            <label for="{{ form.email.vars.id }}">{{ field_label(form.email) }}</label>
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-floating mb-2">
                            <input type="password"
                                   name="{{ field_name(form.plainPassword) }}"
                                   class="form-control"
                                   id="{{ form.plainPassword.vars.id }}"
                                   placeholder=""
                                   value="{{ field_value(form.plainPassword) }}">
                            <label for="{{ form.plainPassword.vars.id }}">{{ field_label(form.plainPassword) }}</label>
                            {{ form_errors(form.plainPassword) }}
                        </div>

                    </fieldset>
                    <div class="row m-2">
                        <button type="submit" class="btn btn-success mb-3">Update</button>

                        {{ form_end(form) }}
                        <a href="{{ path('participants_delete', {'pseudo': app.user.pseudo}) }}" role="button"
                           class="btn btn-danger">Se désinscrire</a>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div class="container d-flex justify-content-center">
            <div class="card text-center mt-5 bg-body" style="width: 300px;">
                <div class="card-body">
                    <div class="row">
                        <div class="col">Nom : </div>
                        <div class="col">{{ participant.nom }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Prénom : </div>
                        <div class="col">{{ participant.prenom }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Téléphone :</div>
                        <div class="col">{{ participant.telephone }}</div>
                    </div>
                    <div class="row">
                        <div class="col">Campus</div>
                        <div class="col">{{ participant.site.nom }}</div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
</div>
{% endblock %}